{% extends "base.html" %}

{% block content %}
<h1>Add a boardgame to your collection</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}<br>
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.player_number_min.label }}<br>
        {{ form.player_number_min(cols=50, rows=4) }}<br>
        {% for error in form.player_number_min.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.player_number_max.label }}<br>
        {{ form.player_number_max(cols=50, rows=4) }}<br>
        {% for error in form.player_number_min.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.playtime_low.label }}<br>
        {{ form.playtime_low(cols=50, rows=4) }}<br>
        {% for error in form.player_number_max.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.playtime_max.label }}<br>
        {{ form.playtime_max(cols=50, rows=4) }}<br>
        {% for error in form.player_number_min.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}