<html>
<head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
    <link rel="stylesheet" href='/static/css/bulma.css' />
</head>
<body>
        <div class="navbar has-background-primary" role="navigation">
            <div class="navbar-brand">
                {% if current_user.is_anonymous %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{{ url_for('login') }}"><strong>Login</strong></a>
                    </div>
                </div>
                {% else %}
                <a class="navbar-item" href="{{ url_for('index') }}">
                    <img src="/static/icon.jpeg" width="60" height="70">
                </a>
                <a class="navbar-item" href="{{ url_for('index') }}">Home</a>
                <a class="navbar-item" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarmenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
                {% endif %}
            </div>
            <div id="navbarmenu" class="navbar-menu">
                {% if current_user.is_authenticated %}
                <a class="navbar-item" href="{{ url_for('explore') }}">Explore</a>
                <a class="navbar-item" href="{{ url_for('collection') }}">Collection</a>
                 <div class="container">
         <h1 class="title"> Boardgame Roulette </h1>
        </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="{{ url_for('logout') }}"><strong>Log out</strong></a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
                
        </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>