<html>
<head>
    {% if title %}
    <title>{{ title }} - Boardgame Roulette</title>
    {% else %}
    <title>Boardgame Roulette</title>
    {% endif %}
    <link rel="stylesheet" href='/static/css/bulma.css' />
</head>
<body>
    <section class="hero has-background-primary">
        <div class="container">
            <div class="hero-body">
                <h1 class="title has-text-white">
                    Boardgame Roulette
                </h1>
            </div>
        </div>
    </section>
    {% if current_user.is_authenticated %}
    <div class="container">
        <div class="navbar" role="navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('index') }}">Home</a>
                <a class="navbar-item" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarmenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarmenu" class="navbar-menu">

                <a class="navbar-item" href="{{ url_for('explore') }}">Explore</a>
                <a class="navbar-item" href="{{ url_for('collection') }}">Collection</a>
                <a class="navbar-item" href="{{ url_for('random') }}">Roulette</a>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="{{ url_for('logout') }}"><strong>Log out</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>