{% extends "base.html" %}

{% block content %}
{% macro input_field(field) -%}

    <label class="label is-normal">{{ field.label }}</label>

            <div class="field">
                {{ field(class_="input") }}
            </div>
{%- endmacro %}

    
<hr>
<section>
    <div class="columns">

        <div class="column">

                        <h1 class="title">Add a Game!</h1>
                        <form role="form" action="" method="post">
                            {{ form.hidden_tag() }}
                            <div class="field">
                                {{ input_field(field=form.title) }}
                                {{ input_field(field=form.player_number_min) }}
                                {{ input_field(field=form.player_number_max) }}
                                {{ input_field(field=form.playtime_low) }}
                                {{ input_field(field=form.playtime_max) }}
                                {{ input_field(field=form.genre) }}
                                <label class="label is-normal">
                                    {{ form.difficulty.label}}</label>
                                <div class="field">
                                    <div class="control">
                                        <div class="select ">
                                            <select name="difficulty">
                                                {%  for choice in form.difficulty.choices %}
                                                <option value={{ choice[0] }}>{{ choice[1] }}</option>
                                                {%  endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-grouped is-grouped-right">
                                <p class="control">
                                    <button class="button is-primary">
                                        Submit
                                    </button>
                                </p>
                            </div>

                            {% for error in form.title.errors %}
                            <span style="color: red;">
                                [{{ error }}]
                            </span>
                            {% endfor %}
                    </form>
        </div>

        <div class="column">
            <h1 class="title">Your Collection</h1>
            <table class="table is-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of players</th>
                        <th>Game Lenght</th>
                        <th>Genre</th>
                        <th>Difficulty</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                    {% include '_game.html' %}
                    {% endfor %}
                    {% if prev_url %}
                </tbody>
                <a href="{{ prev_url }}">Newer posts</a>
                {% endif %}
                {% if next_url %}
                <a href="{{ next_url }}">Older posts</a>
                {% endif %}
            </table>
        </div>
    </div>

</section>
{% endblock %}
