{% extends "base.html"%}

{% block content %}
{% macro input(label, variable) -%}

    <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                <label class="label">{{  label  }}</label>
                                </div>
                                <div class="control">
                                    {{  variable(class_='input is-medium  is-expanded')  }}
                                </div>
                            </div>
{%- endmacro %}

    <div class="container">
    <h1 class="title">Pick a boardgame from your collection</h1>
    <form role="form" action="" method="post">
        <div class="columns">
            <div class="column">
                <div class="columns">
                    <nav class="column">
                        {{ form.hidden_tag() }}
                        <div class="field">
                            <label class="label is-large">Players</label>

                            {{ input(label=form.player_number.label, variable=form.player_number) }}

                            <label class="label is-large">Game</label>

                            {{ input(label=form.player_number.label, variable=form.player_number) }}
                            {{ input(label=form.genre.label, variable=form.genre) }}
                            {{ input(label=form.difficulty.label, variable=form.difficulty) }}
                            {{ input(label=form.time.label, variable=form.time) }}
                        </div>

                        <div class="field is-grouped-right">
                            <p class="control">
                                <button class="button is-primary" name="action" value="Solo">
                                    Submit
                                </button>
                            </p>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="column">
                Filler
            </div>
        </div>
    </form>
</div>

{% endblock %}g