{% extends "base.html"%}

{% block content %}

<div class="container">
    <h1 class="title">Pick a boardgame from your collection</h1>
    <form role="form" action="" method="post">
        {{ form.hidden_tag() }}
        <nav class="level">

            <div class="level-item">
                <div class="field">
                    <p class="control">
                        <button class="button is-primary" name="action" value="Any">
                            Any game
                        </button>
                    </p>
                </div>

            </div>
            
            <div class="level-item">
                <div class="field">
                    <p class="control">
                        <button class="button is-primary" name="action" value="Solo">
                        Solo
                        </button>
                    </p>
                </div>

            </div>
        </nav>
    </form>
</div>

{% endblock %}
